/* .col-lg-7 {
	flex: 0 0 auto;
	width: 58.33333%;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.tab-content > .tab-pane {
	display: none;
}
.tab-content > .tab-pane {
	display: none;
}
.tab-content > .active {
	display: block;
}
.text-uppercase {
	text-transform: uppercase !important;
} */
